<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="pl.rhinoonabus.qrgen" >

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" android:required="false" />
    <uses-feature android:name="android.hardware.camera.flash" android:required="false" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        android:name="pl.rhinoonabus.QrGenApplication">
        <activity
            android:name="pl.rhinoonabus.ui.landing.LandingPageActivity"
            android:label="@string/app_name"
            android:windowSoftInputMode="adjustPan"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name="pl.rhinoonabus.ui.details.DetailsPageActivity"
            android:parentActivityName="pl.rhinoonabus.ui.landing.LandingPageActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"/>
        <activity android:name="pl.rhinoonabus.ui.generated.CodeGeneratedActivity"
            android:parentActivityName="pl.rhinoonabus.ui.details.DetailsPageActivity"
            android:screenOrientation="portrait"/>
        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="a0b22b801eedb455ca0fb750d47482784763330e" />
    </application>

</manifest>
